.cartDetail {
    margin: 40px
}

.cartDeTail-item {
    display: flex;
}

.cartDeTail-item button {
    margin-left: 10px;
    width: 20px;
}

.cartDetail li {
    list-style-type: none;
}

.cartDetail li :hover {
    text-decoration: none;
}